
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'Core_Order_list' %}">
    Order Listing
    </a>
</p>
    
<table class="table">
    <tr><td>created</td><td>{{ object.created }}</td></tr>
    <tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
    <tr><td>order_id</td><td>{{ object.order_id }}</td></tr>
    <tr><td>order_details</td><td>{{ object.order_details }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}