{% extends "base.html" %}
{% block content %}
<div class="m-2"><h4>Core</h4></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'Core_user_profile_list' %}">user_profile Listing</a></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'Core_Order_item_list' %}">Order_item Listing</a></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'Core_Invoice_list' %}">Invoice Listing</a></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'Core_Shipment_list' %}">Shipment Listing</a></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'Core_Ref_Payment_Method_list' %}">Ref_Payment_Method Listing</a></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'Core_Shipment_Item_list' %}">Shipment_Item Listing</a></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'Core_Product_Image_list' %}">Product_Image Listing</a></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'Core_Product_list' %}">Product Listing</a></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'Core_User_Address_list' %}">User_Address Listing</a></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'Core_Order_list' %}">Order Listing</a></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'Core_Payment_list' %}">Payment Listing</a></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'Core_Ref_Order_Item_Status_Code_list' %}">Ref_Order_Item_Status_Code Listing</a></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'Core_Ref_Order_Status_Code_list' %}">Ref_Order_Status_Code Listing</a></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'Core_Ref_Product_Type_list' %}">Ref_Product_Type Listing</a></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'Core_Ref_Invoice_Status_Code_list' %}">Ref_Invoice_Status_Code Listing</a></div>
{% endblock %}